.resume-entries {
    display: grid;
    grid-template-columns: 100px auto;
}

.resume-entries div.resume-hint {
    grid-column: 1;
}

.resume-entries div.resume-description {
    grid-column: 2;
}

.resume-entry-heading span {
    padding: 5px;
}

span.resume-entry-title {
    font-weight: bold;
}

span.resume-entry-company {
    font-style: italic;
}
